body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

a.navbar-brand i {
    vertical-align: top;
}

.message {
    margin-top: 10px;
    color: #68B604;
    font-size: 16px;
}

form label {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

form label[for="checked_yes"],
form label[for="checked_no"] {
    width: initial;
    display: inline-block;
}

form label input,
form label button {
    outline: none;
}

form label input[type="text"],
form label input[type="email"],
form label input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

form label input[type="radio"] {
    margin: 15px 0 0;
}

form label input[type="radio"] + span {
    padding: 0 30px 0 10px;
    vertical-align: text-bottom;
    font-weight: normal;
}

form label button {
    background: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
    border: 0;
    color: #999;
    font-size: 16px;
    padding: 12px 50px;
}

form label button:hover {
    color: #FFF;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table thead {
    background: #EEE;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

table thead th {
    padding: 15px 10px;
    background: #e8e8e8;
    text-align: center;
    border: 1px solid #ccc;
}

table tbody {
    background: #F5F5F5;
}

table tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

table tbody td a {
    color: #000;
}